on: [push]

jobs:
  test_job:
    runs-on: ubuntu-latest
    name: Test calc-NEP29 action
    steps:
      - name: Calculate NEP29 releases
        uses: mstimberg/github-calc-nep29@main
        id: nep29
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            include-release-candidates: true
      - name: Get the minimum/maximum Python and numpy versions
        run: |
          echo "Using output from previous step:"
          echo "Minimum Python: ${{ steps.nep29.outputs.min-python }}, Maximum Python: ${{ steps.nep29.outputs.max-python }}"
          echo "Minimum numpy: ${{ steps.nep29.outputs.min-numpy }}, Maximum numpy ${{ steps.nep29.outputs.max-numpy }}"
          echo "Using environment variables:"
          echo "Minimum Python: $MIN_PYTHON, Maximum Python: $MAX_PYTHON"
          echo "Minimum numpy: $MIN_NUMPY, Maximum numpy $MAX_NUMPY"

